* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: "Roboto", Arial, sans-serif;
}

.main {
    background: url("/Assets/heromain.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.phone {
    display: flex;
    color: white;
    padding: 25px 0px 15px 40px;
    justify-content: space-between;
}

.phonemailcolor {
    color: #B4ACA7;
}

.timig {
    padding-right: 50px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    align-items: center;
}

.stickyheader {
    display: none;
    /* Initially hidden */
    position: sticky;
    top: 0;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
    z-index: 99;
}

.test {
    color: #E52B34;
}

.test:hover {
    color: white;
    cursor: pointer
}

.testboreder {
    color: white;
}

.rightnav>ul li {
    list-style-type: none;
    padding-left: 20px;
    color: white;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.rightnav ul li a:hover {
    color: #E52B34;
}

.rightnav ul li a {
    text-decoration: none;
    cursor: pointer;
}

.leftnav h3 {
    margin: 0;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

/* Styles for mobile menu toggle button */
.menu-toggle {
    display: none;
    /* Hide button by default */
    cursor: pointer;
}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        /* Hide navigation links */
        flex-direction: column;
        /* Stack navigation links vertically */
        text-align: center;
        /* Center align the links */
        margin-top: 10px;
        /* Add margin at the top */
    }

    .menu-toggle {
        display: block;
        /* Display button for mobile */
    }
}


.hero {
    padding: 130px 0px 190px;
}

.hero .heroheading {
    color: white;
    text-align: center;
    line-height: 60px;
}

.headborder {
    font-size: 20px;
    border: 3px solid green;
    padding: 10px;
    letter-spacing: 11px;
}

.headborder:hover {
    border-color: #525a13;
}

.hero h1 {
    font-size: 70px;
    padding-top: 35px;
}


.text-with-lines {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    color: white;
    max-width: 400px;
    margin: 0 auto;
}

.line {
    flex: 1;
    height: 2px;
    background-color: #000;
    margin: 0 10px;
}

/*-- Section 2 css starts from here */
.Section2 {
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.contactform {
    background-color: #E52B34;
    padding: 20px 50px 16px 50px;
}

.inputtypes input,
.inputtypes select {
    display: block;
    padding: 15px 8px 15px 8px;
    width: 300px;
    justify-content: space-between;
    margin-top: 15px;
    background-color: #E52B34;
    color: white;
    border: 0.8px solid wheat;
}

.inputtypes input::placeholder {
    color: white !important;
}

.send {
    background-color: white !important;
    color: black !important;
}

.send:hover {
    background-color: #e7d2c4 !important;
}

.aboutinside {
    display: flex;
    padding-top: 100px;
    background: url(/Assets/rightchef\ \(2\).jpeg) center right no-repeat;
    margin: 0 auto;
}

.leftabout {
    padding: 0px 20px 40px 30px;
}

.leftabout p {
    padding: 0px 260px 20px 0px;
    line-height: 35px;
    color: rgb(54, 118, 118);
}

.leftabout h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 60px;
    margin-top: -25px;
}

.stylefont {
    font-size: 30px;
    font-family: Dancing script, cursive;
    line-height: 0px;
}

.section3 {
    background: url("/Assets/booking.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 140px 0px 150px 0px;
    background-color: rgba(0, 0, 0, 0.3) !important;
}

.section3 h5 {
    font-size: 20px;
    letter-spacing: 7px;
}

.section3 h2 {
    font-size: 40px;
    letter-spacing: 2px;
    line-height: 50px;
    padding-top: 20px;
}

.specilaties {
    text-align: center;
    padding: 60px 0px 50px;
}

.specilaties h2 {
    font-size: 4vw;
    font-weight: 800;
    line-height: 35px;
}

.section5 {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
    padding-top: 60px;
}

.breakfast,
.lunch,
.dinner {
    background-color: #faf6f6;
}

.firstitem {
    display: flex;
    gap: 30px;
    border-bottom: dotted 2px #e1d3d3;
    padding: 45px 20px 45px 27px;
    color: #E52B34;

}

.firstitem:hover {
    border-color: #E52B34;
}

.fooditem {
    border-radius: 100%;
    height: 70px;
    width: 70px;
}

.border1 {
    border: dashed 1.5px #e1d3d3;
    padding: 0px 10px;
}

.border1:hover {
    border-color: #E52B34;
}


.section7 {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #FAFAFA;
}

.chef {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 15px;
}

.chefimg {
    height: 310px;
    width: 285px;
    border-radius: 8px;
}

.chefdetail {
    padding: 5px 50px 10px 20px;
    background-color: white;
}

.chefdetail h3 {
    color: #333333;
}

.chefdetail h5 {
    color: #a4b4c0;
    font-size: small;
    padding-bottom: 15px;
    padding-top: 10px;
}

.chefdetail p {
    color: #b48d8d;
}

.section8 {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    margin-top: 70px;
}

.perfectimg {
    height: 400px;
    width: 300px;
}

.perfect {
    display: flex;
    width: 40%;
    gap: 40px;
}

.perfectingrediant {
    width: 60%;
    padding: 80px 40px 60px 60px;
}

.learnmore {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #E52B34;
    color: white;
    cursor: pointer;
    font-weight: 600;
}

.learnmore:hover {
    background-color: white;
    color: #000;
}

.section10 {
    text-align: center;
    justify-content: center;
    background-color: #E52B34;
    padding: 70px 10px 70px 10px;
    color: white;
}

.booktable {
    padding: 11px 30px;
    background-color: #E52B34;
    border: 1px solid white;
    color: white;
    margin-top: 40px;
}

.booktable:hover {
    background-color: white;
    color: #333333;
    cursor: pointer;
}

.testimonilas {
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    gap: 10px;
}

.container {
    display: block;
    justify-content: center;
    text-align: center;
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0
}

.container img {
    border-radius: 50%;
}

.container span {
    font-size: 20px;
    margin-right: 15px;
    line-height: 40px;
    font-weight: bold;
}



.recent-blogs {
    margin-top: 50px;
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    gap: 15px;
}

.blog-post {
    display: block;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-bottom: 7px solid rgb(236, 221, 221);
    cursor: pointer;
}

.blog-post:hover {
    border-color: red;
}

.blog-post img {
    width: 290px;
    height: 200px;
    border-radius: 10px;
}

.blog-details {
    flex: 1;
    padding: 10px 10px;
}

.blog-details h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.blog-details .date {
    font-style: italic;
    margin-bottom: 5px;
    color: #9c928c;
}

.blog-details .excerpt {
    margin-bottom: 30px;
}

.blog-details .read-more {
    color: white;
    text-decoration: none;
    background-color: #E52B34;
    border-radius: 4px;
    padding: 8px 10px;
}

.blog-details .read-more:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.footer {
    display: flex;
    background-color: #1A1A1A;
    color: white;
    padding: 70px 50px;
    gap: 60px;

}

.footer1 h2 {
    padding: 0px 0px 50px 0px;
}

.footer1 p {
    line-height: 30px;
}

.footer1 .socialicon {
    display: flex;
    padding-top: 20px;
}

.footer1 .socialicon .socialimg {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    margin-left: 10px;
}

.footer33 {
    display: grid;
    grid-template-columns: 70px 1fr 1fr;
    grid-template-rows: 70px 70px;
}


.schedule {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.day {
    font-weight: bold;
    padding-right: 20px;
}

.time {
    font-style: italic;
}

.footer3img {
    height: 70px;
    width: 70px;
}

.footer4 p {
    line-height: 30px;
}

.footer4 input {
    padding: 10px 47px;
    margin-top: 20px;
}

.subscribe {
    padding: 12px 100px;
    border: none;
    background-color: #E52B34;
    margin-top: 10px;
    color: white;
}

.copyright {
    padding: 20px 0px;
    text-align: center;
    background-color: #E52B34;
    color: white;
}

/* About US PAage CSS design start  */
.hirachypages {
    color: white;
    text-align: center;
    padding-top: 30px;
}

.hirachypages a {
    text-decoration: none;
    color: white;
}

.hirachypages a:hover {
    color: rgb(190, 126, 126);
}

.aboutsection2 {
    margin-top: 0px !important;
}

.aboutsection3 {
    background: url("Assets/restu2.jpg") center center /cover fixed;
    opacity: 0.9;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    color: white;
    padding: 180px 0px 90px 0px;
    font-weight: 900;
    font-size: larger;
}

.aboutsectio4 {
    padding: 50px 0px !important;
}

/* About us page css design end  */


/* Menu PAge css design start */

.firstrow,
.secondrow {
    display: flex;
    gap: 60px;
}

.menuinput {
    max-width: 1000px;
    margin: 0 auto;
}

.mnusubmit {
    margin: 0 auto;
    cursor: pointer;
}

.booktablemenu {
    padding: 11px 30px;
    background-color: #E52B34;
    border: 1px solid white;
    color: white;
    margin-top: 40px;
}

/* Menue page css design end here */








/* Media Queries for mobile responsivenss */


/* For screens smaller than 768px */
@media screen and (max-width: 600px) {


    .navbar {
        padding: 15px;
    }


    .perfectimg,
    .phone {
        display: none;
    }

    .hero .heroheading {
        font-size: 35px;
    }

    .headborder {
        font-size: 15px;
        letter-spacing: 9px;
    }

    .Section2,
    .section7,
    .section8,
    .aboutinside,
    .section5,
    .testimonilas,
    .recent-blogs {
        flex-direction: column;
        width: 100%;
    }

    .section3 {
        font-size: 100%;
        padding: 100px 0px 100px 0px;
    }

    .perfect {
        width: 100%;
        gap: 0px;
        padding: 10px 10px;
    }

    .perfectingrediant {
        width: 100%;
        padding: 80px 20px 60px 20px;
    }

    .chef {
        margin: 0px 20px;
    }

    .chefimg {
        height: 310px;
        width: auto;
        padding-left: 12px;
    }

    .leftabout,
    .leftabout h2,
    .leftabout p {
        text-align: center;
    }

    .section3 h5,
    .section3 h2,
    .main {
        font-size: 80%;
    }

    .hero {
        padding: 40px 0px 50px;
    }

    .contactform {
        padding: 20px 20px 16px 40px;
    }

    .leftabout {
        padding: 0px 20px 40px 30px;
    }

    .leftabout p {
        padding: 0px 20px 20px 0px;
        color: black;
    }

    .leftabout h2 {
        font-size: 25px;
        font-weight: 600;
        line-height: 30px;

    }

    .border1,
    .container {
        margin: 10px 20px;
    }

    .firstitem {
        gap: 20px;
        padding: 45px 10px 45px 10px;

    }

    .blog-details {
        padding: 10px 30px;
    }

    .blog-post img {
        width: 100%;
        padding: 0px 30px;
        border-radius: 10px;
    }

    .footer {
        flex-direction: column;
        align-items: center;
    }

    .footer2,
    .footer3 {
        margin-left: -90px;
    }

    .footer4 {
        margin-left: -10px;
    }
}